<header>
  <nav class="nav-container">
    <div class="nav-wraper">
      <a class="logo"><b>Naughty</b> Notes</a>
      <div class="search-container">
        <i class="material-icons"> search </i>
        <input
          type="text"
          name="search"
          class="search-box"
          placeholder="Search"
        />
      </div>
      <ul class="items">
        <li>
          <button
            style="background-color: transparent; border: none"
            (click)="logout()"
          >
            <i class="material-icons"> logout </i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
