<header>
  <nav class="nav-container">
      <div class="nav-wraper">
          <a class="logo"><b>Naughty</b> Notes</a>
          <div class="search-container">
              <i class="material-icons">
                  search
              </i>
              <input type="text" name="search" class="search-box" placeholder="Search">
          </div>
          <ul class="items">
              <!-- <li><a href="#relpay"><i class="material-icons">
                          replay
                      </i></a></li>
              <li><a href="#view"><i class="material-icons">view_stream</i></a></li>
              <li><a href="#apps"><i class="material-icons">
                          apps
                      </i></a></li>
              <li><a href="#notifictions"><i class="material-icons">
                          notifications
                      </i></a></li> -->
              <li><button style="background-color: transparent; border: none;" (click)="logout()"><i class="material-icons">
                          logout
                      </i></button></li>
          </ul>
      </div>
  </nav>
</header>