.userName {
  margin-right: 15px;
}

form.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 50px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
form.loginForm input {
  display: block;
}
form.loginForm button {
  height: 56px;
}
